@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    font-size: 62.5%;
}
:root{
    --white: #fff;
    --light-gray: #555;
    --gray: #222;
    --blue: #119ec9;
    --grid-cell: 6;
    --gap: 1rem;
    --time: .5s
}
.container {
    height: 100svh;
    display: grid;
    place-items: center;
}
.playground {
    background-color: #f7eedd;
    width: 90vmin;
    height: 90vmin;
    border-radius: var(--gap);
}
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(119, 118, 115, 0.604);
    display: grid;
    place-items: center;
}